body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	/*background-image: url("extras/img/bg.png")no-repeat center center fixed;
	background-repeat: no-repeat;
    background-size: 100% 100%;*/
	min-width:600px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
	height:800px;
}
.pn-button{
	background:#ddd; width:70%; height:50px; font-size:21px; border-style:none;
}

::-webkit-scrollbar {
	/*width:0px;*/
}

a {
	color:#369;
}
a:hover {
	color:#fff;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
	border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
#apDiv1 {
	position:absolute;
	width:100px;
	height:21px;
	z-index:1;
	left: 3px;
	top: 726px;
}
/* column container */
.colmask {
	position:relative;
	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
	height:103%;
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
	height:95%;
			
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
	height:95%;
}

/* 3 Column settings */
.threecol {
		/* right column background colour */
	
}
.threecol .colmid {
	right:25%;			/* width of the right column */
		/* center column background colour */
	
}
.threecol .colleft {
	right:50%;			/* width of the middle column */
		/* left column background colour */
	
}
.threecol .col1 {
	width:45%;			/* width of center column content (column width minus padding on either side) */
	left:100%;			/* 100% plus left padding of center column */
;
}
.threecol .col2 {
	width:17%;			/* Width of left column content (column width minus padding on either side) */
	left:35%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
	
}
.threecol .col3 {
	width:21%;			/* Width of right column content (column width minus padding on either side) */
	left:89%;			/* Please make note of the brackets here:*/	
}

/*@media (min-width:768px){
.row1 {
	height:80%;
	}
}
*/.row2 {
	height:32%;
	}
/*.row1 {
    width: 100%;
   
    display: table;
}

.row1:after {
    display: table-cell;
    content: "";
    overflow-y: scroll;
   
}

.row1 p{
	display:table-cell
}*/
/* Footer styles */
#footer {
	clear:both; 
	float:left;
	width:100%;
	border-top:0px solid #000;
	
}
#footer p {
	padding:10px;
	margin:0;
}
.button-border{
	box-shadow: 0 0 0 7px #fff; border-radius:50%;
}

.icon-border{
	box-shadow: 0 0 0 5px #9E846D; border-radius:50%;
}
.icon-border-yellow{
	box-shadow: 0 0 0 5px #FFEB3B; border-radius:50%;
}
.icon-border-green{
	box-shadow: 0 0 0 5px #8BC249; border-radius:50%;
}
.icon-border-grey{
	box-shadow: 0 0 0 5px #788E96; border-radius:50%;
}
.icon-border-blue{
	box-shadow: 0 0 0 5px #3F51B5; border-radius:50%;
}
.icon-border-red{
	box-shadow: 0 0 0 5px #CC322E; border-radius:50%;
}
.icon-border-black{
	box-shadow: 0 0 0 5px #656451; border-radius:50%;
}

.fadeit{
	opacity:0.6;
	pointer-events: none;
}
.seqhead{
	margin-top:30px;
	font-size:20px; 
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius:10px;
    /*background: #4CAF50;*/
	background: #dc5252;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #dc5252;
    cursor: pointer;
}
.in-text{
	width:100%; border:none; border-bottom: 2px solid #dc5252; background-color: transparent; max-width:700px;
}
.errors{
	color:red;
}
#text-chi{
	margin-top:10%;
}
#spbutton-chi{
	padding-top:5%;
}
#speak{
	width:8%	
}
#modal12 modal-content{
	width:70%;
}
#modal17 label{
	font-weight:500;
}
.jast-items{
	height:73%;
	width:60%;
	position:fixed;
	overflow-y:auto;
	vertical-align:top;
}
/*$('#row1').css({"height":"73%", "width":"60%", "position":"fixed", "overflow-y":"auto", "vertical-align":"top"});*/

@media (min-height: 680px), screen and (orientation: portrait){
	.row1 {
	height:60%;
	/*font-size:10px;*/
	position:fixed;
	overflow-y:auto;
	}
}

@media (min-width:968px){
.pn-button{
	background:#ddd; width:70%; height:35px; font-size:18px; border-style:none;
}
}


@media (min-width:768px), (max-width:967px){
.pn-button{
	background:#ddd; width:70%; height:35px; font-size:14px; border-style:none;
}
}

@media (max-width:767px){
.pn-button{
	background:#ddd; width:70%; height:35px; font-size:11px; border-style:none;
}
.row1 {
	/*height:80%;*/
	font-size:10px;
	}
.seqhead{
	font-size:14px; 
}	
#page-wrapper{
	/*font-size:9px;*/
}

#text-chi{
	margin-top:4%;
}
#spbutton-chi{
	padding-top:2%;
}
#speak{
	width:12%
}
}
